
@media (max-width: 1100px) {
  #fl-transport-bar > div:first-child > div:nth-child(4) {
    max-width: 34vw;
  }
}

@media (max-width: 820px) {
  #fl-logo-btn > span::after {
    font-size: 0.8rem;
  }

  #fl-transport-bar > div:first-child > div:nth-child(4) {
    max-width: 30vw;
  }
}
